<div class="row">
	<div class="col-md-4">left hand graph
	</div>

	<div class="col-md-4">winner text
	</div>

	<div class="col-md-4">righthand graph
	</div>
</div>


<div class="row">
	<div class="col-md-4">timeline
	</div>
</div>